[general]
RemoteNickFormat="[{LABEL} #{CHANNEL}] @{NICK}"
TranslationAttribution=" [translated by :google:]"
PreserveThreading=true
ShowUserTyping=true
MediaDownloadSize=1000000
ShowJoinPart=true
# When someone is speaking from a platform without avatars, generate one from usernames
IconURL="https://github.com/identicons/{NICK}.png"


[slack]

[slack.codeforall]
Label="Code for All"

[slack.epanstwo]
Label="ePanstwo PL"

[slack.cfpoland]
# Slack: kodujdlapolski​
Label="Code for Poland"

[slack.cfjapan]
# Slack: cfj
Label="Code for Japan"

[slack.g0vtw]
Label="g0v :flag-tw:"

[slack.cfromania]
# Slack: codeforromania
Label="Code for Romania"

[slack.cfamerica]
# Slack: cfa
Label="Code for America"

[slack.cfafrica]
# Slack: code4africa
Label="Code for Africa"

#[slack.transparencee​]
#Label="TransparenCEE"

######################
# GATEWAYS(BRIDGES) for Code for All

[[gateway]]
    name = "general"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "general"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-general"

    [[gateway.inout]]
    account = "slack.cfpoland"
    channel = "cfall-general"


[[gateway]]
    name = "random"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "random"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-random"


[[gateway]]
    name = "introductions"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "introductions"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-introductions"


[[gateway]]
    name = "fundraising"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "fundraising"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-fundraising"


[[gateway]]
    name = "readingroom"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "readingroom"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-readingroom"


[[gateway]]
    name = "events"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "events"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-events"


[[gateway]]
    name = "wins"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "wins"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-wins"


[[gateway]]
    name = "just-starting"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "just-starting"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-just-starting"


[[gateway]]
    name = "members"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "members"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "members"

######################
# GATEWAYS(BRIDGES) for member channels, such as cfjapan#general <-> cfall#cfjapan-general  (possibly with translation)





