[general]
RemoteNickFormat="[{LABEL} #{CHANNEL}] @{NICK}"
TranslationAttribution=" [translated by :google:]"
PreserveThreading=true
ShowUserTyping=false
MediaDownloadSize=1000000
ShowJoinPart=false
NoSendJoinPart=false
# When someone is speaking from a platform without avatars, generate one from usernames
IconURL="https://github.com/identicons/{NICK}.png"


[slack]

[slack.codeforall]
Label="Code for All"

[slack.cfaustralia]
# Slack: codeforaustralia
Label="Code for Australia"

[slack.cfcanada]
Label="Code for Canada"

[slack.epanstwo]
Label="ePanstwo PL"

[slack.cfpoland]
# Slack: kodujdlapolski​
Label="Code for Poland"

[slack.cfjapan]
# Slack: cfj
Label="Code for Japan"

[slack.g0vtw]
Label="g0v :flag-tw:"

[slack.cfromania]
# Slack: codeforromania
Label="Code for Romania"

[slack.cfamerica]
# Slack: cfa
Label="Code for America"

[slack.cfafrica]
# Slack: code4africa
Label="Code for Africa"

#[slack.transparencee​]
#Label="TransparenCEE"

######################
# GATEWAYS(BRIDGES) for Code for All

[[gateway]]
    name = "general"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "general"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-general"

    [[gateway.inout]]
    account = "slack.cfpoland"
    channel = "cfall-general"

    [[gateway.inout]]
    account = "slack.cfafrica"
    channel = "code-for-all-general"

    [[gateway.inout]]
    account = "slack.cfaustralia"
    channel = "code-for-all-chatter"


[[gateway]]
    name = "random"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "random"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-random"


[[gateway]]
    name = "introductions"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "introductions"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-introductions"


[[gateway]]
    name = "fundraising"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "fundraising"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-fundraising"

    [[gateway.out]]
    account = "slack.cfafrica"
    channel = "awards-events-grants"


[[gateway]]
    name = "readingroom"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "readingroom"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-readingroom"

    [[gateway.inout]]
    account = "slack.cfafrica"
    channel = "cfall-readingroom"

    [[gateway.inout]]
    account = "slack.cfaustralia"
    channel = "code-for-all-news"

    [[gateway.inout]]
    account = "slack.cfpoland"
    channel = "cfall-readingroom"

#   [[gateway.inout]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113510@g.us"


[[gateway]]
    name = "events"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "events"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-events"

    [[gateway.out]]
    account = "slack.cfafrica"
    channel = "awards-events-grants"

    [[gateway.inout]]
    account = "slack.cfpoland"
    channel = "cfall-events"

#   [[gateway.inout]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113537@g.us"


[[gateway]]
    name = "wins"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "wins"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-wins"

#   [[gateway.inout]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113568@g.us"


[[gateway]]
    name = "just-starting"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "just-starting"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-just-starting"


[[gateway]]
    name = "members"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "members"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-members"

#    [[gateway.inout]]
#    account = "slack.cfcanada"
#    channel = "cfall-members"

#   [[gateway.inout]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113791@g.us"


[[gateway]]
    name = "staff-announcements"
    enable = false

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "staff-announcements"

    [[gateway.out]]
    account = "slack.cfcanada"
    channel = "cfall-announcements"

    [[gateway.out]]
    account = "slack.epanstwo"
    channel = "cfall-announcements"

#   [[gateway.out]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113838@g.us"


## Topical channels

[[gateway]]
    name = "sensors"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "sensors"

    [[gateway.inout]]
    account = "slack.cfafrica"
    channel = "open-sensors"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "cfall-sensors"

    [[gateway.inout]]
    account = "slack.cfpoland"
    channel = "cfall-sensors"


[[gateway]]
    name = "knowledge"
    enable = false

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "knowledge"

    [[gateway.inout]]
    account = "slack.cfromania"
    channel = "knowledge"
    
[[gateway]]
    name = "learn-python"
    enable = false

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "learn-python"

    [[gateway.inout]]
    account = "slack.cfromania"
    channel = "learn-python"


######################
# GATEWAYS(BRIDGES) for member channels, such as cfjapan#general <-> cfall#cfjapan-general  (possibly with translation)

[[gateway]]
    name = "cfaustralia-general"
    enable = true

    [[gateway.inout]]
    account = "slack.cfaustralia"
    channel = "general"

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "code-for-australia"

#[[gateway]]
#    name = "cfpakistan-point-of-contact"
#    enable = true

#   [[gateway.inout]]
#   account = "whatsapp.cfpakistan"
#   channel = "48577856119-1551113664@g.us"

#    [[gateway.inout]]
#    account = "slack.codeforall"
#    channel = "code-for-pakistan"

[[gateway]]
    name = "ned-proposal2019"
    enable = true

    [[gateway.inout]]
    account = "slack.codeforall"
    channel = "ned-proposal2019"

    [[gateway.inout]]
    account = "slack.epanstwo"
    channel = "ned-proposal2019"
